<!DOCTYPE html>
<html>
<head>
	<title>Website</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/about.css">
		<link rel="stylesheet" type="text/css" href="../css/responsive.css">
	<link rel="stylesheet" type="text/css" href="../css/nav.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
	<div id="topnav">
		<label>08101846280</label><label>infoajibade@gmail.com</label>
			<label style="float: right;">
			<a href="#">Login</a>
			<a href="#">Register</a>
			</label>
	</div>
	<nav>
<div class="mobile-50">
		<img  src="../img/ajaytech logo.png">
		</div>		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="../views/about.html">About Us</a></li>
		</ul>
	</nav>
	<div id="banner">
		<p class="banner-para">About <span>Us</span></p>
	</div>

		<section class="mother-container">
		<div class="container">
			<img src="../img/kevin-bhagat-zNRITe8NPqY-unsplash.jpg">
		
			<h2>Nice Heading</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		<input type="button" value="Shop Now" class="shop"/>
		</div>
		<div class="container">
			<img src="../img/kevin-bhagat-zNRITe8NPqY-unsplash.jpg">
		
			<h2>Nice Heading</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		<input type="button" value="Shop Now" class="shop"/>
		</div>
		<div class="container">
			<img src="../img/kevin-bhagat-zNRITe8NPqY-unsplash.jpg">
		
			<h2>Nice Heading</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		<input type="button" value="Shop Now" class="shop"/>
		</div>
		<div class="container">
			<img src="../img/kevin-bhagat-zNRITe8NPqY-unsplash.jpg">
		
			<h2>Nice Heading</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		<input type="button" value="Shop Now" class="shop"/>
		</div>

	</section>
	

</body>
</html>